.topBox{
    height: 40vh;
    background:url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbGxhYm9yYXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"),linear-gradient(#EB984E,#F7DC6F ) ;
 background-blend-mode: multiply;
    background-size: cover;  
}
.leftSide{

}
.rigfhtSide{

}
.rigfhtSide img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}
